@model IEnumerable<Catalog.Models.Northwind.Category>

@using Catalog.HtmlHelpers
@addTagHelper *, Catalog

@{
    ViewData["Title"] = "Categories";
}

@section Warning
{
    <p>Categories can not be edited</p>
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>
                <td>
                    <a asp-action="Image" asp-route-id="@item.CategoryId">
                        <img src="@String.Format("data:image/jpg;base64,{0}", item.Base64String)">
                    </a>
                    <br />
                    <a northwind-id="@item.CategoryId">Tag Helper Image Link</a>
                    <br />
                    @Html.NorthwindImageLink(@item.CategoryId, "Html Helper Image Link")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>